.App {
  background-color: var(--white);
  max-width: 1240px;
  margin: auto;
  // padding: 40px 30px;
}

.resume-body {
  margin-top: 20px;
  .row {
    display: flex;
    justify-content: space-between;
  }
  .left-sections {
    width: 60%;
  }
  .right-sections {
    width: calc(40% - 50px);
  }
}